.form .row{
	margin-left: 0;
}

#form-sidebar{
	width:260px;
	max-width: 20%;
	float: right;
}

#form-body{
	min-width: 380px;
	float: right;
	max-width: 77%;
	margin-right: 3%;
}

.list_terms {
	padding: 5px 0px;
}

.list_terms_inner {
	overflow-y: auto;
	overflow-x: hidden;
	height: 150px;
	background: #FFFFFF;
	padding: 0;
}

.block_w100{
	display: block;
	width: 100%;
}

.selected_terms {
	border-top: 1px dotted #CCC;
	padding: 5px 0px;
}

.selected_terms_inner {
	overflow-y: auto;
	overflow-x: hidden;
	height: 75px;
	background: #FFFFFF;
	padding: 0;
}
.clear{
	clear: both;
}
.content-box-content textarea, 
.content-box-content input[type="text"],
.list_terms_inner input[type="text"]{
	width: 90%;
	min-height: 20px !important;
}

.search-header input[type=text],
.search-selected input[type=text]{
	width:95%;
}

.rss-post{
	background-color: #fffeed;
}

.rss-post.readed{
	background-color: #fff;
}

.ul_region li {
	border-top: 1px solid #E6E6E6;
	background: #eee;
	padding: 20px 10px;
	margin-bottom: 1px;
}

.ul_region{
	margin:20px 0;
}

.span_block {
margin-left: 10px;
}

.ul_region li a {
	color: #DD4B39;
	text-decoration: underline;
	margin-right: 10px;
}

li{
	list-style: none;
}

ul{
	margin: 0;
	padding:0;
}

iframe{
	border: none;
	padding: 5px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	min-height: 20px;
	height: auto;
}

#list-item-ul li, 
#content_list_manual li, 
#content_list li, 
.sortable-list li {
	border-bottom: 1px solid #CCC;
	padding: 10px 0px 10px 15px;
	padding: 0px;
	background: #FCFCFC;
}

.item_div_wrapper {
	min-height: 35px;
	padding: 10px;
}

#list-item-ul, #content_list_manual {
	width: 100%;
	padding: 0px 0px 20px 0;
	margin: 0;
}

.bootstrap-widget-header > [class^="icon-"], .bootstrap-widget-header > [class*=" icon-"] {
	display: inline-block;
	margin-left: 13px;
	margin-right: -2px;
	margin-top: 15px;
	font-size: 16px;
	color: #555;
	vertical-align: middle;
}

ul.yiiPager {
	font-size: 11px;
	border: 0;
	margin: 0 auto;
	padding: 0;
	line-height: 100%;
	display: inline-block;
	text-align: center;
	height: 30px;
}

.pagination {
	margin: 20px auto;
	text-align: center;
}