.timer-wrapper {
	overflow: hidden;
	background-color:#515151;
	-moz-border-radius:10px;
	height:65px;
	width:340px;
	padding:15px 18px;
}
.timer {
	border:1px solid white;
	-moz-border-radius:10px;
	height:65px;
	width:310px;
	background:url(clock.jpg) left top no-repeat;
	padding:0px 15px;
	position:absolute;
}
.timer .digits-container {
	float:left;
	padding:5px;
	width:48px;
	height:55px;
	position:relative;
}
.timer .digit:last-child {
	margin-left:24px;
}
.timer .digit, .timer .separator
{
	color: #fff;
	font-size:3em;
	font-weight:bold;
	float:left;
}
.timer .separator {
	margin:0px 3px;
}
.timer .digit {
	position:absolute;
	display: inline-block;
	width:24px;
	height:55px;
}
.timer .ended-message,
.timer.ended * {
	display: none;
}
.timer.ended .ended-message {
	display: block;
	color: #fff;
	font-size:2em;
	margin:15px 10px 10px 25px;
	position:absolute;
}