.product-sites-selector .ms-selection {
    display: none !important;
}

.product-sites-selector .ms-selectable {
    width: 100% !important;
    margin: 0 !important;
}

.product-sites-selector .table {
    margin-top: 22px;
}

.product-sites-selector  .search-header input {
    width: 100% !important;
    box-sizing: border-box;
}