.form .row {
    margin: 10px 0;
}

#form-sidebar {
    float: right;

    width: 20%;
}

#form-body {
    overflow: hidden;

    margin-right: 23%;
}
.cke {
    box-sizing: border-box !important;
}

.list_terms {
    padding: 5px 0;
}

.list_terms_inner {
    overflow-x: hidden;
    overflow-y: auto;

    height: 150px;
    padding: 0;

    background: #fff;
}

.block_w100 {
    display: block;

    width: 100%;
}

.selected_terms {
    padding: 5px 0;

    border-top: 1px dotted #ccc;
}

.selected_terms_inner {
    overflow-x: hidden;
    overflow-y: auto;

    height: 75px;
    padding: 0;

    background: #fff;
}
.clear {
    clear: both;
}
.content-box-content textarea,
.content-box-content input[type='text'],
.list_terms_inner input[type='text'] {
    width: 90%;
    min-height: 20px !important;
}

.search-header input[type=text],
.search-selected input[type=text] {
    width: 95%;
}

.rss-post {
    background-color: #fffeed;
}

.rss-post.readed {
    background-color: #fff;
}

.ul_region li {
    margin-bottom: 1px;
    padding: 20px 10px;

    border-top: 1px solid #e6e6e6;
    background: #eee;
}

.ul_region {
    margin: 20px 0;
}

.span_block {
    margin-left: 10px;
}

.ul_region li a {
    margin-right: 10px;

    text-decoration: underline;

    color: #dd4b39;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

iframe {
    padding: 5px;

    border: none;
}

textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.uneditable-input {
    height: auto;
    min-height: 20px;
}

#list-item-ul li,
#content_list_manual li,
#content_list li,
.sortable-list li {
    padding: 10px 0 10px 15px;
    padding: 0;

    border-bottom: 1px solid #ccc;
    background: #fcfcfc;
}

.item_div_wrapper {
    min-height: 35px;
    padding: 10px;
}


.resource_list li {
    display: inline-block;

    width: 85px;
    height: 110px;
}
#list-item-ul,
#content_list_manual {
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
}

#object-form .bootstrap-widget-content {
    max-height: 1000px;

    transition: max-height .4s ease, padding .4s ease;
}
#object-form .bootstrap-widget-content > * {
    transition: opacity .4s ease;

    opacity: 1;
}
#object-form .bootstrap-widget.is-collapsed .bootstrap-widget-content {
    overflow: hidden;

    max-height: 0;
    padding: 0;
}
#object-form .bootstrap-widget.is-collapsed .bootstrap-widget-content > * {
    opacity: 0;
}
#object-form .bootstrap-widget-header {
    cursor: s-resize;
}
.bootstrap-widget-header {
    line-height: 36px;
}

ul.yiiPager {
    font-size: 11px;
    line-height: 100%;

    display: inline-block;

    height: 30px;
    margin: 0 auto;
    padding: 0;

    text-align: center;

    border: 0;
}

.pagination {
    margin: 20px auto;

    text-align: center;
}

header #lang {
    width: 90px;
    margin: 4px 0 0;
}

.main_content > .pull-right form {
    display: inline-block;
} /* Форма перевода */

/* Чекбоксы */
input[type=checkbox] + label,
input[type=radio] + label {
    position: relative;
    top: 3px;

    display: inline-block;
}

/**
 * Notification стили с прошлой версии цмс
 */

.content-box,
ul.content-box-tabs li a.current,
.shortcut-button,
.notification {
    border-radius: 6px 6px 6px 6px;
}

.noteinformation {
    color: #585b66;
    border: 1px solid #a2b4ee;
    background: url('../images/icons/information.png') repeat scroll 0 0 #dbe3ff;
}

.noteattention {
    color: #666452;
    border: 1px solid #e6db55;
    background: url('../images/icons/exclamation.png') no-repeat scroll 10px 11px #fffbcc;
}

.notesuccess {
    color: #556652;
    border: 1px solid #9adf8f;
    background: url('../images/icons/active.png') repeat scroll 0 0 #d5ffce;
}

.noteerror {
    color: #665252;
    border: 1px solid #df8f8f;
    background: url('../images/icons/disabled.png') repeat scroll 0 0 #ffcece;
}

.notification {
    font-size: 13px;

    position: relative;

    width: 99.8%;
    margin: 0 0 15px;
    padding: 0;

    background-repeat: no-repeat !important;
    background-position: 10px 11px !important;
}

.notification div {
    font-style: normal;
    line-height: 1.5em;

    display: block;

    padding: 10px 10px 10px 36px;
}

.notification .close {
    font-size: 9px;

    position: absolute;
    top: 5px;
    right: 5px;

    color: #900;
}

/**
 * Стили валидации форм
 */

div.form .hint {
    margin: 0;
    padding: 0;

    color: #999;
}

div.form .note {
    font-style: italic;
}

div.form .errorSummary {
    font-size: .9em;

    margin: 0 0 20px 0;
    padding: 7px 7px 12px 7px;

    border: 2px solid #c00;
    background: #fee;
}

div.form .errorSummary p {
    margin: 0;
    padding: 5px;
}

div.form .errorSummary ul {
    margin: 0;
    padding: 0 0 0 20px;
}

/*******************
*
* Циферка в кружечке
*
******************/
.quantity {
    position: relative;

    width: 45px;
    height: 45px;
    padding: 0 10px 10px 0;
}

.quantity span {
    font-size: 13px;
    font-weight: bold;
    font-weight: bold;
    line-height: 18px;

    position: absolute;
    right: 0;
    bottom: 0;

    display: block;

    width: 18px;
    height: 18px;
    margin-top: 9px;
    margin-left: 9px;

    cursor: pointer;
    text-align: center;

    color: #f0f0f0;
    border: 1px rgba(80, 80, 80, .7) solid;
    -webkit-border-radius: 9px;
       -moz-border-radius: 9px;
            border-radius: 9px;
    background: #b8da5c;
    background: rgba(50, 0, 0, .50);

    -khtml-border-radius: 9px;
}

/**
 * Усовершенствованные стили для модальных окошек бутстрапа
 * TODO: переместить в ajaxModal.php, сделать отдельный css неймспейс под такие окна
 */
.modal-scrollfix {
    position: fixed;
    z-index: 1041;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.modal {
    position: static;

    margin: 90px auto; /*includes Top Nav and yii debugger*/
}

.modal.fade {
    margin-top: -45%;

    transition: opacity .3s linear 0s, margin-top .3s ease-out 0s;
}

.modal.fade.in {
    margin-top: 90px;
}

.modal-body {
    overflow-y: visible;

    max-height: none;
}


/**
 * Фиксы для yii-bootstrap
 */
.grid-view .filters input[type=checkbox],
.grid-view .filters input[type=radio] {
    width: auto;
}


/**
  * Стили для страницы логгирования
  */
.level_error {
    color: #ff7474 !important;
    background: #a14949 !important;
}

.level_info {
    background: #d2cd36 !important;
}

.level_profile {
    background: #60a149 !important;
}

.level_warning {
    background: #6a0079 !important;
}

.level_trace {
    background: #3d7de3 !important;
}


.accordion-heading--custom-icon .accordion-toggle {
    background-image: none !important;
}
.accordion-heading--custom-icon [class^='icon-'],
.accordion-heading--custom-icon [class*=' icon-'] {
    margin: 10px 8px 0 0;
}

.clear-cache {
    font-size: 12px;

    position: fixed;
    z-index: 1001;
    top: 90px;
    right: -1px;

    display: block;

    width: 15px;
    padding: 2px 3px;

    text-decoration: none;

    color: #fff;
    border: 1px solid transparent;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
            border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
            border-bottom-left-radius: 8px;
    background: #333;
}
