/**
* Цвета статусов
**/
.filters {
    color: #030000;
}
.label {
    line-height: 22px;
    padding: 2px 7px !important;
}
#orderIndex th {
    text-align: center;
    vertical-align: middle;
}
#statusFilters {
    margin: 15px 0;
}

.table-condensed th, .table-condensed td {
    vertical-align: middle;
}
.label label {
    padding-left: 2px;
    line-height: normal;
    vertical-align: -3px;
}
.statusCell {
    vertical-align: middle !important;
}
.filter-container input, .filter-container select {
    margin: 3px 0 !important;
}
/* Не выполненно */
.status_1 {
    background-color: #e4edae !important;
}
/* В процессе */
.status_2 {
    background-color: #f9c69b !important;
}
/* Выполненно */
.status_3 {
    background-color: #c8b8c3 !important;
}
/* Отмена */
.status_4 {
    background-color: #BCC6C6 !important;
}
/* Подтвержден */
.status_5 {
    background-color: #fce7a6 !important;
}
/* Передан службе доставки  */
.status_6 {
    background-color: #f9baa8 !important;
}
/* В пути */
.status_7 {
    background-color: #e4babc !important;
}
/* Возврат */
.status_8 {
    background-color: #9cdad7 !important;
}

/**
 * Исправление z-index для Google Maps Autocomplete
 */
.pac-container {
    z-index: 10000 !important;
}

/**
 * Создание/редактирование заказа
 */
.product-card {
    position: relative;
    float: left;
    clear: left;
    padding:5px;
    min-width:175px;
}

.product-card__quantity {
    position:absolute;
    bottom: 6px;
    right: 65px;
}

.product-card__control {
    position: absolute;
    bottom: 8px;
}

.product-card__control--minus {
    right: 39px;
}

.product-card__control--plus {
    right: 25px;
}

.product-card__control--remove {
    right: 5px;
}

.product-card__title {
    overflow:auto;
}

.product-card__thumb {
    float:left;
    margin-right:10px;
}