﻿@font-face{
	font-family: 'ArialNarrow';
	src: url('../fonts/arial_narrow.eot');
	src: url('../fonts/arial_narrow.eot?#iefix') format('embedded-opentype'),
			url('../fonts/arial_narrow.woff') format('woff'),
			url('../fonts/aarial_narrow.ttf') format('truetype'),
			url('../fonts/arial_narrow.svg#ArialNarrow') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'AGLettericaCondensedLightRoman';
    src: url('../fonts/aglettericacondensedlightroman.eot');
    src: url('../fonts/aglettericacondensedlightroman.eot') format('embedded-opentype'),
         url('../fonts/aglettericacondensedlightroman.woff') format('woff'),
         url('../fonts/aglettericacondensedlightroman.ttf') format('truetype'),
         url('../fonts/aglettericacondensedlightroman.svg#AGLettericaCondensedLightRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AGLettericaCondensedRoman';
    src: url('../fonts/aglettericacondensed-webfont.eot');
    src: url('../fonts/aglettericacondensed-webfont.eot') format('embedded-opentype'),
         url('../fonts/aglettericacondensed-webfont.woff') format('woff'),
         url('../fonts/aglettericacondensed-webfont.ttf') format('truetype'),
         url('../fonts/aglettericacondensed-webfont.svg#AGLettericaCondensedRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AGLettericaCondensedOblique';
    src: url('../fonts/aglettericacondensedoblique.eot');
    src: url('../fonts/aglettericacondensedoblique.eot') format('embedded-opentype'),
         url('../fonts/aglettericacondensedoblique.woff') format('woff'),
         url('../fonts/aglettericacondensedoblique.ttf') format('truetype'),
         url('../fonts/aglettericacondensedoblique.svg#AGLettericaCondensedOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'AGLettericaCondensedBold';
	src: url('../fonts/aglettericacondensedbold.eot');
	src: url('../fonts/aglettericacondensedbold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/aglettericacondensedbold.woff') format('woff'),
		 url('../fonts/aglettericacondensedbold.ttf') format('truetype'),
		 url('../fonts/aglettericacondensedbold.svg#AGLettericaCondensedBold') format('svg');
font-weight: normal;
font-style: normal;
}
p, h1, h2, h3, h4, h5, h6, address, cite, fieldset, legend, form, label, table, td, blockquote, hr, img, dl, dt, dd {
	margin: 0;
	padding: 0;
}
html{
	font-size: 100.01%;
	min-height: 100%;
}
a{
	color: #1e559c;
	cursor: pointer;
}
img{
	border:none;
}
.clear{
	clear: both;
}
body{	
	margin: 0px;
	padding: 0px;
	background: #ffffff;
}
body.login{	
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:#ffffff;
    font-family: 'AGLettericaCondensedRoman',sans-serif;
}
section.login-box{
	position:absolute;
	height:346px;
	width:600px;
	left:50%;
	margin-left:-300px; 
	top:50%;
	margin-top:-173px; 
	background:url(../images/login-box-bg.png) no-repeat;
}
.login-box .left-part{
	width: 160px;
	max-height: 230px;
	float: left;
	padding: 0px;
	margin: 102px 0px 0px 21px;
}
.login-box h2{
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0px;
	color: #333333;
	text-align: right;
	margin: 1px 4px 1px 0px;
	text-shadow: 0px 0px 1px #b6b6b6;
    /*filter: dropshadow(color=#b6b6b6, offx=0, offy=0);*/
}
.login-box .left-part p{
	font-size: 11px;
	line-height: 12px;
	letter-spacing: 0px;
	color: #868686;
	text-align: left;
	float: right;
	width: 96%;
	margin: 9px 1px 0px 0px;
	padding: 10px 3px 0px 0px;
	border-top: #b9b9b9 1px solid;
}
#login-form input[type="text"],
#login-form input[type="password"]{
	width: 143px;
	height: 13px;
	float: right;
	text-align: right;
	font-family: 'AGLettericaCondensedOblique';
	color: #919191;
	font-size: 13px;
	padding: 5px 7px 4px 5px;
	margin: 10px 0px 0px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFFFF;
	border: #dadada 2px solid;
}
.checkbox{
	width: 19px;
	height: 25px;
	padding: 0 5px 0px 0;
	background: url(../images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
	margin-top: -3px;
}
.clearfix .remember{
	float: right;
	margin: 11px 7px 0px 0px;
	padding: 0px;
	font-size: 13px;
	text-shadow: 0px 0px 1px #b6b6b6;
   /*filter: dropshadow(color=#b6b6b6, offx=0, offy=0);*/
}
#login-form .login-button{
	width: 58px;
	height: 28px;
	padding: 0px 0px 0px 0px;
	margin: 1px 0px 0px 0px;
	background: url(../images/login-button.png) repeat-x;
	font-size: 13px;
	color: #595959;
	letter-spacing: 0px;
	cursor: pointer;
	float: right;
	border: none;	
	text-shadow: 0px 1px 1px #FFFFFF;
	/*filter: dropshadow(color=#ffffff, offx=0, offy=1);*/
}
.login-box .central-part{
	width: 181px;
	min-height: 243px;
	float: left;
	padding: 0px;
	margin: 79px 0px 0px 28px;
	position: relative;
}
.login logoblock{
	display: block;
	float: left;
	padding: 0px 3px 10px 0px;
	margin: 0px;
	border-bottom: #717171 1px solid;
}
.login .logo{
	width: 176px;
	height: 80px;
	background: url(../images/logo.png) no-repeat;
	display: block;
	padding: 0px;
	margin: 0px 0px 0px 2px;
}
.login .central-part logoblock slogan {
	font-size: 11px;
	color: black;
	float: right;
	margin: -2px 9px 0px 0px;
	padding: 0px;
	text-shadow: 0px 0px 1px #292929;
	/*filter: dropshadow(color=#292929, offx=0, offy=0);*/
}
.login-box .central-part p{
	font-size: 11px;
	letter-spacing: 0px;
	color: #656565;
	text-align: left;
	float: left;
	margin: 8px 0px 0px 9px;
	padding: 0px 0px 0px 0px;
	line-height: 13px;	
}
.login-box .central-part copyright{
	font-size: 10px;
	letter-spacing: 0px;
	color: #656565;
	text-align: left;
	float: left;
	margin: 0px 0px 0px 8px;
	padding: 0px 0px 0px 0px;
	line-height: 13px;	
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.login-box .right-part{
	width: 160px;
	min-height: 243px;
	float: right;
	padding: 0px;
	margin: 29px 20px 0px 0px;
}
.login-box .right-part .study-material,
.login-box .right-part .study{
	display: block;
}
.login-box .right-part .study-material p{
	font-size: 11px;
	letter-spacing: 0px;
	color: #656565;
	text-align: left;
	margin: 0px 0px 11px 0px;
	padding: 0px 0px 0px 0px;
	line-height: 13px;
}
.login-box .right-part .study-material span{
	font-size: 13px;
	color: #151515;
	text-shadow: 0px 0px 1px #b6b6b6;
	/*filter: dropshadow(color=#b6b6b6, offx=0, offy=0);*/
}
.login-box .right-part .study img{
	float: left;
	margin: 0px 5px 3px 0px;
}
.login-box .right-part .study p{
	font-size: 10px;
	letter-spacing: 0px;
	color: #656565;
	text-align: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height: 12px;
}
.login-box .right-part .study span{
	color: #151515;
	text-shadow: 0px 0px 1px #b6b6b6;
	/*filter: dropshadow(color=#b6b6b6, offx=0, offy=0);*/
}
.login-box .right-part .study{
	margin: 15px 0px 0px 0px;
}
