#general-form .thumbnail
{
	height: 260px;
	width:200px;
	overflow:hidden;
}

#general-form .thema-block .btn
{
	position: absolute;
	bottom: 5px;
	right: 5px;
	opacity: 0;
	transition: 0.5s;
}


#general-form .thema-block:hover .btn
{
	opacity: 1;
}

.treeview span.treeCheckbox
{
	position: relative;
	top: -7px;
}
span.treeCheckbox + ul
{
	margin-top: -10px;
}

.layouts-block{
	display: inline-block;
	list-style: none;
	padding: 2px;
	cursor: pointer;
}

.thema-block{
	position: relative;
}

.thema-block > .checked{
	display: none;
	width: 64px;
	position: absolute;
	top:0;
	right:0;
	height:64px;
	background: url(../images/checked.png) no-repeat;
}

.add-select-field,
.add-field{
	margin:10px 0;
}

.field_tr.odd{
	background: #f1f1f1;
}

.type_list_place tr.odd{
	background: #DBDBDB;
}

.type_list_place table,
#table_fields{
	border: 1px solid #ccc;
}

#table_fields td{
	vertical-align: top;
}

.type_list_place tr{
	background: #fff;
}

.thema-block.active > .checked{
	display: block;
}

.layouts-block > input[type="radio"]{
	display: none;
}

.thema-block
{
	cursor: pointer;
}

.layouts-block.active{
	padding:0;
}

.layouts-block.active{
	border:2px solid #0088CC;
}

.cboxNext, .cboxPrevious{
	display: none;
}

.thema-block.active{
	/* Копипаст input:focus из bootstrap */
	border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.shortcut-buttons-set li{
	display: inline-block;
	text-align: center;
	margin-right: 20px;
}

.thematics-tree .thematics-block {
	display: none;
	margin: 0 5px;
}

.thematics-tree li:hover > .tree-item-content .thematics-block {
	display: inline-block;
}

.thematics-tree li {
	line-height: 20px;
	min-height: 22px;
}

.thematics-tree .tree-item-content {
	position: relative;
	top: -5px;
}
